<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Symfony 4{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div>
        <a href="{{ path('homepage') }}">HOME</a> --
        <a href="{{ path('blog_index') }}">BLOG</a> --
        <a href="{{ path('category_index') }}">CATEGORIES</a> --
        <a href="{{ path('tag_index') }}">TAGS</a>
    </div>
    <hr>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
