{% extends 'base.html.twig' %}

{% block title %}Tag {{ tag.name }}{% endblock %}

{% block body %}
    <h1>Tag {{ tag.name }}: </h1>
    <ul>Articles with this tag:
        {% for article in tag.articles %}
            <li><a href="{{ path('blog_show', {'slug': article.title }) }}">{{ article.title }}</a></li>
        {% else %}
            <li>No article for this tag</li>
        {% endfor %}
    </ul>
{% endblock %}
